<main style="text-align: center">
  <h1>North Augusta Sports Hall of Fame</h1>
  <img style="max-width: 80%" src="../assets/img/banner.jpg" />
  <div>
    <h2>Class of 2024</h2>
    <h3>
      Clayton Dyson | Kevin Lynn | Jon Williams | Al Young
    </h3>
  </div>
  <div>
    <h2>2024 Hall of Fame Banquet</h2>
    <p>
      Induction banquet will be Friday, March 1st, 2024.
    </p>
  </div>
  <div>
    <h2 style="text-align: center">Our Mission</h2>
    <p>
      To develop, attract, promote and sponsor athletic events in the city of
      North Augusta and surrounding areas that provide participation and
      spectator opportunities for our citizens while creating tourism revenue in
      a positive, family oriented environment.
    </p>
  </div>
  <h5 style="text-align: center">Last updated 2/15/2024</h5>
</main>
